body{
    background-image: url(icon/body.jpg);
}
/*---------navigation bar------------*/

.nav{
    background-color: rgb(255, 176, 248);
    height: 40px;
    width: auto;
    margin-top:-15px;

} 
ul li {
    list-style-type: none;
    text-align: center;
    display: inline;
    float: right;
   
  }

a{
    display: block;
    padding: 10px;
   color:black;
    text-decoration: none;
    
  }


/*--------- Student Table box------------*/

.container{
    border: 1px solid black;
    height: 550px;
    width: 1050px;
    margin:auto;
    text-align: center;
    background-color: rgb(169, 252, 255);
}



.box{
    border: 1px solid black;
    height: 410px;
    margin: auto;
    width: 1045px;
    background-color: rgb(252, 252, 252);
    overflow:auto;
    overflow-x: auto;
}


.tr,th{
    background-color: rgb(249, 255, 159);
}
.tr,td{
    background-color: rgb(253, 253, 253);
}
